.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 100vh);
}
.container section {
  width: 100%;
  height: 100vh;
}
.home {
  background-image: url("../assets/bg_one.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.welcome {
  width: 100%;
  height: 80%;
  padding: 8rem 2rem;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.welcome h1 {
  font-size: 6rem;
}
.welcome p {
  font-size: 1.2rem;
}
.welcome div {
  width: 25rem;
  height: 5rem;
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.about {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("../assets/bg_two.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about h1{
  font-size: 6rem;
  font-weight: 600;
}
.about p {
  font-size: 1.7rem;
  padding: 0 1rem;
  text-align: center;
}
.locations {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("../assets/bg_three.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.locations h1 {
  font-size: 6rem;
  font-weight: 600;
}
.locations section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5rem;
  box-sizing: border-box;
}
.locations section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 2rem;
  border-bottom: 1px solid white;
}
.locations section div svg {
  font-size: 3rem;
}

.contact {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("../assets/bg_four.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.contact h1 {
  font-size: 6rem;
  font-weight: 600;
}
.contact section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10rem;
  padding-top: 5rem;
  box-sizing: border-box;
}
.contact section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 2rem;
  text-align: center;
}
.contact section div svg {
  font-size: 3rem;
}

.gallery {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url("../assets/bg_five.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gallery h1{
  font-size: 6rem;
  font-weight: 600;
}
.gallery p {
  font-size: 1.5rem;
  padding: 0 1rem;
  text-align: center;
}
.gallery svg {
  font-size: 3rem;
}

.gallery_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 150vh);
  gap: 5px;
}
.gallery_container div {
  width: 100%;
  height: 50vh;
}
.gallery_container div:nth-child(even) {
  background-color: aqua;
}
.gallery_container div:nth-child(odd) {
  background-color: aquamarine;
}